{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "M": "readonly",
    "csrftoken": "writable"
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off"
  }
}
