version: "3"

services:
  db:
    image: postgres:14
    environment:
      - POSTGRES_PASSWORD=VanhatMaksaa1913
      - POSTGRES_DB=vaalikoppi
      - POSTGRES_USER=vaalikoppi

  vaalikoppi:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - 80:80
    environment:
      - DATABASE_URL=postgres://vaalikoppi:VanhatMaksaa1913@db:5432/vaalikoppi
      - HMAC_KEY=ThisShouldBeALongStringWithHighEntropy
      - PORT=80
      - ADMIN_PASSWORD=VanhatMaksaa1913
    