version: "3"

services:
  db:
    image: postgres:14
    environment:
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=vaalikoppi
      - POSTGRES_USER=vaalikoppi
    ports:
      - 5432:5432

  vaalikoppi:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - 80:80
    environment:
      - DATABASE_URL=postgres://vaalikoppi:secret@db:5432/vaalikoppi
      - HMAC_KEY=ThisShouldBeALongStringWithHighEntropy
      - PORT=80
      - ADMIN_PASSWORD=kettu
    
