{% extends "components/base.html" %}

{% block body %}
  <div class="container">
    {% if tokens.is_empty() %}
      <div class="card blue-grey lighten-5">
        <div class="card-content blue-grey-text text-lighten-1 center">
          <span class="card-title blue-grey-text text-lighten-1">Luo ensin koodit.</span>
        </div>
      </div>
    {% endif %}
    {# {% csrf_token %} #}
    <div class="card blue-grey lighten-5">
      <div class="card-action center">
        <button id="generate-tokens-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font prodeko-blue" onclick="generateTokens(100)">Generoi 100 uutta koodia</button>
        <a href="/tokens/print" id="generate-tokens-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font prodeko-blue">Tulosta koodit</a>
        <button id="invalidate-active-tokens-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font prodeko-blue" onclick="invalidateActiveTokens()">Mitätöi aktiiviset koodit</button>
      </div>
    </div>
    {% if !tokens.is_empty() %}
      <div class="card blue-grey lighten-5">
        <div class="card-content text-lighten-1">
          <table class="highlight bordered">
            <thead>
              <tr>
                <th>Koodin tila</th>
                <th>Lukumäärä</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Kaikki koodit</td>
                <td>{{ tokens.len() }}</td>
              </tr>
              <tr>
                <td>Aktivoimattomat koodit</td>
                <td>{{ unactivated_token_count }}</td>
              </tr>
              <tr>
                <td>Aktiiviset koodit</td>
                <td>{{ activated_token_count }}</td>
              </tr>
              <tr>
                <td>Mitätöidyt koodit</td>
                <td>{{ voided_token_count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card blue-grey lighten-5">
        <div class="card-content blue-grey-text text-lighten-1">
          <span class="card-title center blue-grey-text text-darken-1">Hallitse koodeja</span>
          <div class="card-content">
            <input type="text" id="search" onkeyup="searchFunction()" placeholder="Etsi koodia.." style="box-sizing:border-box" autofocus>
          </div>
        </div>

        <div class="tokens-table-wrapper card-content text-lighten-1">
          <table class="highlight bordered" id="search-table">
            <thead>
              <tr>
                <th>Koodi / Alias</th>
                <th>#</th>
                <th>Aktivoitu</th>
                <th>Mitätöity</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for token in tokens %}
              <tr>
                {% match token.alias %}
                  {% when Some with (alias) %}
                    <td>{{ token.token }}<br>{{ alias }}</td>
                  {% when None %}
                    <td>{{ token.token }}</td>
                {% endmatch %}
                <td>{{ token.id }}</td>
                {% match token.state %}
                  {% when TokenState::Unactivated %}
                      <td>Aktivoimaton</td>
                      <td>
                        <button id="activate-token-button-{{ loop.index }}" class="btn waves-effect waves-light darken-1 white-text green candidate bold-font" onclick="activateOrInvalidateToken(true, '{{ token.id }}',{{ loop.index }})" data-clicked="0">Aktivoi</button>
                      </td>
                      <td>
                        <button id="invalidate-token-button-{{ loop.index }}" class="btn waves-effect waves-light darken-1 white-text red candidate bold-font" onclick="activateOrInvalidateToken(false, '{{ token.id }}',{{ loop.index }})" data-clicked="0">Mitätöi</button>
                      </td>
                      
                    {% when TokenState::Activated %}
                      <td>Aktivoitu</td>
                      <td>
                        <button class="btn waves-effect waves-light darken-1 white-text grey candidate bold-font" disabled=True>Aktivoitu</button>
                      </td>
                      <td>
                        <button id="invalidate-token-button-{{ loop.index }}" class="btn waves-effect waves-light darken-1 white-text red candidate bold-font" onclick="activateOrInvalidateToken(false, '{{ token.id }}',{{ loop.index }})" data-clicked="0">Mitätöi</button>
                      </td>
                  
                    {% when TokenState::Voided %}
                      <td>Mitätöity</td>
                      <td>
                        <button class="btn waves-effect waves-light darken-1 white-text grey candidate bold-font" disabled=True>Mitätöity</button>
                      </td>
                      <td>
                        <button class="btn waves-effect waves-light darken-1 white-text grey candidate bold-font" disabled=True>Mitätöity</button>
                      </td>
                  {% endmatch%}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  </div>

  <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function () {
      document.getElementById("search").value = ''
      document.getElementById("search").focus()
    })
  </script>
{% endblock %}
