<html lang="fi">

<head>
  <!-- Get roboto mono font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">

  <style type="text/css">
    p {
      font-size: 16pt;
      margin: 2pt;
      font-family: 'Roboto Mono', monospace;
    }

    table {
      width: 100%;
    }

    table,
    td {
      border: 2px solid black;
    }

    td {
      text-align: center;
    }
  </style>
</head>

<body>
  <table>
    {% for token in tokens %}
    {% if loop.index % 2 == 1 %}
    <tr>
      {% endif %}
      <td>
        <p>{{token.token}}</p>
      </td>
      {% if (loop.index % 2 == 0) || (loop.last) %}
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</body>

</html>