{% extends "components/base.html" %}

{% block body %}
  <div class="container reduced-row-margin">
    <div class="row">
      <div class="col s12">
        <div id="voting-sound-panel" class="card blue-grey lighten-5">
          <audio id="sound-track-1" class="sound-track" preload="none">
            <source src="static/music/rummut.mp3" type="audio/mpeg">
          </audio>
          <audio id="sound-track-2" class="sound-track" preload="none">
            <source src="static/music/tuplaus.mp3" type="audio/mpeg">
          </audio>
          <audio id="sound-track-3" class="sound-track" preload="none">
            <source src="static/music/badumtss.mp3" type="audio/mpeg">
          </audio>

          <div class="card-action center">
            <button class="btn waves-effect waves-light darken-1 white-text candidate bold-font prodeko-blue" data-playing="0" onclick="playSound(1)">Rumpujen pärinää</button>
            <button class="btn waves-effect waves-light darken-1 white-text candidate bold-font prodeko-blue" data-playing="0" onclick="playSound(2)">Tuplaus</button>
            <button class="btn waves-effect waves-light darken-1 white-text candidate bold-font prodeko-blue" data-playing="0" onclick="playSound(3)">Badumtss</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div id="voting-list-updater" class="card blue-grey lighten-5">
          <div class="card-action center">
            <button id="voting-list-refresh-button" class="btn white-text candidate bold-font prodeko-blue" onclick="refreshVotingList(true)">
              Päivitä luettelo
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="voting-list-area" class="reduced-row-margin">
      {% match votings_list_template %}
      {% when AdminVotingListTemplate with {open_votings, closed_votings, draft_votings, login_state} %}
        {% include "components/admin-voting-list.html" %}
      {% endmatch %}
    </div>

  </div>
{% endblock %}
