{% load staticfiles %}
<!DOCTYPE html>
<html lang="fi">
	<head>
		  <meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
			<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
			<link href="{% static 'icons/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
			<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
			<link href="{% static 'css/material.css' %}" rel="stylesheet">
			<link href="{% static 'css/custom.css' %}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
			<link rel="icon" href="/static/icons/icon.png">
			<title>{% block title %}Alumnirekisteri{% endblock %}</title>
			{% block local_styles %}

			{% endblock %}
	</head>

    <body>

			{% if user.is_authenticated %}
			<nav class="navbar navbar-default bg-p700 text-primary elevation-2 navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/static/images/logo.png'  %}"></a>
					</div>
					<div class="collapse navbar-collapse" id="navbar">
						<form class="navbar-form navbar-left" method="get" action="{% url 'search' %}">
							<div class="form-group">
								<input type="text" name="search_first_name" value="{% if first_name %}{{ first_name }}{% endif %}" placeholder="Etunimi" class="form-control nav-haku">
							</div>
							<div class="form-group">
								<input type="text" name="search_last_name" value="{% if last_name %}{{ last_name }}{% endif %}" placeholder="Sukunimi" class="form-control nav-haku">
							</div>
							<div class="form-group">
								<input type="text" name="search_start_year" value="{% if class_of_year %}{{ class_of_year }}{% endif %}" placeholder="Aloitusvuosi" class="form-control nav-haku">
							</div>
							<button type="submit" id="search_submit" class="btn btn-default nav-haku-btn">Hae</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							{% if request.user.is_admin %}
							<li class="dropdown {% if 'admin' in request.path %}active{% endif %}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ylläpitäjä  <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'admin' %}"></span> Käyttäjähallinta</a></li>
									<li><a href="{% url 'admin_member_requests' %}"></span> Rekisteröitymispyynnöt</a></li>
									<li><a href="{% url 'admin_export_data' %}"></span> Vie taulukkoon</a></li>
									<li><a href="{% url 'admin_stats' %}"></span> Statistiikka </a></li>
									<li><a href="{% url 'admin_set_notes' %}"></span> Aseta tietoja .csv:stä </a></li>
									<li><a href="{% url 'admin_log' %}"></span> Loki</a></li>
									<li><a href="{% url 'register' %}"></span> Rekisteröityminen</a></li>
								</ul>
							</li>
							{% endif %}
							<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> {{ user.first_name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
									<li class="{% if request.user.person.slug in request.path %}active{% endif %}"><a href="{% url 'public_profile' request.user.person.slug %}"><span class="fa fa-user"></span> Julkinen profiili</a></li>
									<li class="{% if 'myprofile' in request.path %}active{% endif %}"><a href="{% url 'myprofile' %}"><span class="fa fa-cog"></span> Muuta tietoja</a></li>
                  <li><a href="{% url 'new_password' %}" id="#change-password"><span class="glyphicon glyphicon-lock"></span> Vaihda salasana</a></li>
                  <li role="separator" class="divider"></li>
									<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Kirjaudu ulos</a></li>
                </ul>
              </li>
						</ul>
					</div>
				</div>
			</nav>
			{% endif %}

		{% block body %}

		{% endblock %}


    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	</body>
</html>
