html, body { height: 100%; }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #1E3553;
    scroll-behavior: smooth;
}

section {
	/*margin-top: -50px;*/
	padding-top: 80px;
	background-color: #fafafa;
	min-height: 100%;
}

.invisible {
	visibility: hidden;
}

.token-input-field {
	font-size: x-large !important;
	font-weight: bold;
}

/* === BACKGROUND === */

.bg {
    background-image: url("background.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
}

.main-container {
  padding-bottom: 100px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.candidate {
  width: 100%;
  border-radius: 7px;
  margin-top: 5px;
}

.prodeko-blue {
  background-color: #004080;
}

#deactivate-btn {
  position: static;
  margin-right: 10px;
}

#deactivate {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4em;
}

.bold-font {
  font-weight: 700;
}

#logo {
  width: 220px;
  height: 100%;
  margin: 10px auto 0px auto;
}

#vaalikoppi-logo {
  width: 100%;

}

#login-container {
  width: 100%;
  height: 100%;
  background-image: url("Blue.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
}

.logos {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 75px;
}

#login-vaalikoppi-logo {
  max-width: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#login-input-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 400px;
}

input {
  text-align: center;
}

#main-login-prompt {
	display: none;
}

#main-login-prompt .token-input-field {
	padding-top: 2em;
}

#main-login-prompt .wrong-token-warning {
	color: red;
}


