html, body { height: 100%; }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #1E3553;
    scroll-behavior: smooth;
}

section {
	/*margin-top: -50px;*/
	padding-top: 80px;
	background-color: #fafafa;
	min-height: 100%;
}

.invisible {
	visibility: hidden;
}

.token-input-field {
	font-size: x-large !important;
	font-weight: bold;
}

/* === BACKGROUND === */

.bg {
    background-image: url("background-compressed.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
}

.main-container {
  padding-bottom: 100px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.wide-button {
  width: 100%;
  border-radius: 7px;
  margin-top: 5px;
}

.inline-button {
  width: 90%;
  border-radius: 7px;
  margin-top: 5px;
}

.prodeko-blue {
  background-color: #004080;
}

#deactivate-btn {
  position: static;
  margin-right: 10px;
}

#deactivate {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4em;
}

.bold-font {
  font-weight: 700;
}

#logo {
  width: 220px;
  height: 100%;
  margin: 10px auto 0px auto;
}

#vaalikoppi-logo {
  width: 100%;

}

#login-container {
  width: 100%;
  height: 100%;
  background-image: url("Blue.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
}

.logos {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 75px;
}

#login-vaalikoppi-logo {
  max-width: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#login-input-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 400px;
}

input {
  text-align: center;
}

#main-login-prompt .token-input-field {
	padding-top: 2em;
}

#main-login-prompt .loading-token-notification {
	color: #26a69a;
}

#main-login-prompt .wrong-token-warning {
	color: red;
}

.results {
  display: inline-block;
  padding: 0;
  text-align: left;
}

/* === Searchable table === */

#searchInput {
  /*  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  /*  background-position: 10px 12px; /* Position the search icon */
  /*  background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#searchTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#searchTable th, #searchTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#searchTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#searchTable tr.header, #searchTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#searchTable button.btn {
	width: 10em;
}
