main {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #1e3553;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

section {
  padding-top: 80px;
  background-color: #fafafa;
  min-height: 100%;
}

i {
  cursor: pointer;
}

#logo {
  width: 220px;
  margin: 10px auto 0px auto;
}

#vaalikoppi-logo {
  width: 100%;
}

.logos {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 75px;
}

input {
  text-align: center;
}

.alias-input-field {
  text-transform: uppercase;
}

.prodeko-blue {
  background-color: #004080;
}

#deactivate {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4em;
}

.bold-font {
  font-weight: 700;
}

nav {
  background: #004080;
}

#admin-nav .nav-wrapper {
  background: #ee6e73;
}

#admin-nav .nav-content {
  height: 64px;
}

.wide-button {
  width: 100%;
  border-radius: 7px;
  margin-top: 5px;
}

.inline-button {
  width: 90%;
  border-radius: 7px;
  margin-top: 5px;
}

#deactivate-btn {
  position: static;
  margin-right: 10px;
}

.tokens-table-wrapper {
  overflow-x: scroll;
}

#login-container .loading-token-notification {
  color: #26a69a;
}

#login-container .wrong-token-warning {
  color: red;
}

#login-container .login-instructions h6 {
  font-weight: bold;
}

#login-container .login-instructions p {
  margin-bottom: 1em;
}

.voting-order {
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  padding: 5px 15px;
  margin-top: 12px;
  margin-right: 20px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.voting-candidates {
  display: flex;
  flex-direction: row;
}

.card-title-container {
  padding: 10px 10px 5px;
  position: relative;
  border-bottom: solid 1px white;
}

.card-title {
  margin: 0;
  font-size: 1.3em !important;
  text-align: center;
}

.results {
  width: 100%;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
}

.transfer-election .results {
  cursor: pointer;
}

.expand-results {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  bottom: 0;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.expanded .expand-results {
  transform: rotate(90deg);
}

.result {
  display: none;
  grid-template-columns: 15% 1fr;
  grid-template-areas: "voting-round results-table";
  gap: 5px;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

.result:first-child {
  display: grid;
  background: initial;
  color: white;
}

.expanded .result {
  display: grid;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.expanded .result:last-child {
  border: none;
}

.voting-round {
  grid-area: voting-round;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8em;
}

.round-number {
  height: auto;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  clear: both;
  line-height: 1em;
}

.elected {
  color: lightgreen;
}

.dropped {
  color: #d6c2c2;
  font-weight: normal;
}

.result-table {
  max-width: 500px;
  margin: 15px auto;
}

.transfer-election .result-table {
  grid-area: results-table;
  width: 100%;
  border-left: solid 2px whitesmoke;
  margin: 0;
}

.candidate {
  text-align: center;
}

.candidate td {
  width: 15%;
  padding: 5px;
}

.candidate .candidate-name {
  width: 70%;
  font-weight: bold;
  text-align: left;
}

.transfer-election .candidate-name {
  padding-left: 20px;
}

.empty-votes {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
  .results {
    font-size: 0.9rem;
    padding-bottom: 0;
  }
  .result {
    grid-template-areas: "voting-round" "results-table";
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  .result:first {
    font-size: 1.2em;
  }
  .result-table {
    border-left: none;
  }
  .candidate-name {
    padding: 0;
  }
  .voting-round {
    grid-template-columns: auto auto;
    column-gap: 5px;
    justify-content: left;
    font-size: inherit;
  }
  .voting-round * {
    font-size: inherit;
    text-align: left;
    width: auto;
    margin-left: 5px;
    font-weight: normal;
  }
  .empty-votes {
    font-size: 0.8em;
  }
}

#search-input {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#search-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#search-table th,
#search-table td {
  text-align: left;
  padding: 12px;
}

#search-table button.btn {
  width: 10em;
}

#search-table tr {
  border-bottom: 1px solid #ddd;
}

#search-table tr:header, #search-table tr:hover {
  background-color: #f1f1f1;
}

.votes-left-col .votes-left-expander {
  font-size: inherit;
}

.votes-left-col .votes-left-expander:hover {
  font-weight: bold;
  text-decoration: underline;
}

.votes-left-col .votes-left-table thead {
  font-weight: bold;
}

.closed-voting .votes-left-col .votes-left-expander {
  font-size: 0.8em;
}
