@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .card {
    @apply bg-primary-container rounded-md shadow-md p-4;
  }

  
}

@layer utilities {
  .mobile-column {
    @apply mx-4 max-w-6xl;
  }
}