.wide-button {
  width: 100%;
  border-radius: 7px;
  margin-top: 5px;
}

.inline-button {
  width: 90%;
  border-radius: 7px;
  margin-top: 5px;
}

#deactivate-btn {
  position: static;
  margin-right: 10px;
}

#audit-btn {
  position: static;
  margin-left: 10px;
}
