*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #1e3553;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

section {
  padding-top: 80px;
  background-color: #fafafa;
  min-height: 100%;
}

i {
  cursor: pointer;
}

#logo {
  width: 320px;
  margin: 10px auto 0px auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
  }

  span {
    font-size: 1.2em;
    color: white;
    white-space: nowrap;
    line-height: 1;
  }
}

#vaalikoppi-logo {
  height: 40px;
  width: auto;
}

.logos {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 75px;
}

input {
  text-align: center;
}

.reduced-row-margin {
  & > .row {
    margin-bottom: 0;
  }
}