{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <div id="voting-sound-panel" class="card blue-grey lighten-4">
      <audio id="sound-track-1" class="sound-track">
        <source src="{% static 'music/rummut.mp3' %}" type="audio/mpeg">
      </audio>
      <audio id="sound-track-2" class="sound-track">
        <source src="{% static 'music/tuplaus.mp3' %}" type="audio/mpeg">
      </audio>
      <audio id="sound-track-3" class="sound-track">
        <source src="{% static 'music/badumtss.mp3' %}" type="audio/mpeg">
      </audio>
        
      <div class="card-action center">
        <button class="btn waves-effect waves-light darken-1 white-text candidate bold-font light-blue" data-playing="0" onclick="playSound(1)">Rumpujen pärinää</button>
        <button class="btn waves-effect waves-light darken-1 white-text candidate bold-font light-blue" data-playing="0" onclick="playSound(2)">Tuplaus</button>
      </div>
    </div>

    <div id="voting-list-updater" class="card blue-grey lighten-5">
			<div class="card-action center">
				<button class="btn waves-effect waves-light darken-1 white-text candidate bold-font" onclick="refreshVotingList({% if user.is_superuser %}true{% endif %})">Päivitä luettelo</button>
			</div>
	</div>

	<div id="voting-list-area">
	</div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      refreshVotingList({% if user.is_superuser %}true{% endif %}); // TODO: Doesn't work
    });
  </script>
{% endblock %}
