{% csrf_token %}
<div class="card blue-grey lighten-5">
  <div class="card-content text-lighten-1">
    <table class="highlight bordered">
      <thead>
          <tr>
            <th></th>
            <th>Lukumäärä</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Kaikki äänestykset</td>
          <td>{{ active_tokens_count|length }}</td>
        </tr>
        <tr>
          <td>Avoimet äänestykset</td>
          <td>{{ open_votings|length }}</td>
        </tr>
        <tr>
          <td>Suljetut äänestykset</td>
          <td>{{ closed_votings|length }}</td>
        </tr>
        <tr>
          <td>Päättyneet äänestykset</td>
          <td>{{ ended_votings|length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card blue-grey lighten-5">
  <div class="card-content grey-text">
    <span class="card-title blue-grey-text text-darken-1 bold-font">Luo uusi äänestys</span>
    <label>
        <input type="checkbox" class="filled-in" id="is-transfer-election" value="is-transfer-election" />
        <span>Siirtoäänivaalitapa</span>
    </label>
    <br>
    <label>
        <input type="checkbox" class="filled-in" id="voting-add-is-password-protected" name="is-password-protected" value="is-password-protected" />
        <span>Äänestyskohtainen salasana vaaditaan</span>
    </label>
    <div class="input-field col s3">
      <input id="voting-name" name="voting-name" type="text" class="validate" required>
      <span for="voting-name">Äänestyksen nimi</span>
    </div>
    <div class="input-field col s3">
      <input id="voting-description" name="voting-description" type="text">
      <label for="voting-description">Kuvaus</label>
    </div>
    <div class="input-field col s3">
      <input id="voting-add-voting-password" name="voting-password" type="text" maxlength="50">
      <label for="voting-add-voting-password">Äänestyskohtainen salasana</label>
    </div>
    <div class="input-field col s6">
      <input id="max-votes" type="number" min="1" value="1" name="max-votes" class="validate">
      <label for="max-votes">Äänet</label>
    </div>
    <button class="btn waves-effect waves-light wide-button" onclick="createVoting()" name="action">Luo äänestys
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>

{# Avattu äänestys #}
{% if open_votings %}
  {% for voting in open_votings %}
    <div class="card blue-grey lighten-5">
      <div class="card-content blue-grey-text text-darken-1 center">
        <span class="card-title bold-font">Auki: {{ voting.voting_name }}, Äänestänyt: {{ voting.total_votes }}/{{ active_tokens_count }}</span>
        <p>Salasana vaaditaan: <span class="bold-font">{% if voting.is_password_protected %}Kyllä{% else %}Ei{% endif %}</span>.&nbsp;
        Salasana: <span class="bold-font">{{ voting.voting_password }}</span></p>
        {% if voting.voting_description %}<div class="section grey-text"><p>{{ voting.voting_description }}</p></div>{% endif %}
      </div>
      <div class="card-action center">
        {% if voting.candidates.all %}
          <div id="voting-form-{{ voting.id }}">
            <ul>
              {% for candidate in voting.candidates.all %}
                <li>{{ candidate.candidate_name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <button onclick="closeVoting({{ voting.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})" class="btn waves-effect waves-light red darken-1 white-text wide-button bold-font">Sulje äänestys</button>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% include 'voting-list-ended-and-closed.html' %}
