{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
      {% if not tokens %}
        <div class="card blue-grey lighten-5">
          <div class="card-content blue-grey-text text-lighten-1 center">
            <span class="card-title blue-grey-text text-lighten-1">Luo ensin koodit.</span>
          </div>
        </div>
      {% endif %}
      {% csrf_token %}
      <div class="card blue-grey lighten-5">
        <div class="card-action center">
          <button id="generate-tokens-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font" onclick="generateTokens(100)">Generoi 100 uutta koodia</button>
          <a href="{% url 'vaalikoppi:tokens' %}" id="generate-tokens-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font">Tulosta koodit</a>
          <button id="invalidate-active-tokens-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font" onclick="invalidateActiveTokens()">Mitätöi aktiiviset koodit</button>
        </div>
      </div>
      {% if tokens %}
        <div class="card blue-grey lighten-5">
          <div class="card-content text-lighten-1">
            <table class="highlight bordered">
              <thead>
                  <tr>
                    <th>Koodin tila</th>
                    <th>Lukumäärä</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Kaikki koodit</td>
                  <td>{{ tokens|length }}</td>
                </tr>
                <tr>
                  <td>Aktivoimattomat koodit</td>
                  <td>{{ new_tokens }}</td>
                </tr>
                <tr>
                  <td>Aktiiviset koodit</td>
                  <td>{{ active_tokens }}</td>
                </tr>
                <tr>
                  <td>Mitätöidyt koodit</td>
                  <td>{{ invalid_tokens }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card blue-grey lighten-5">
          <div class="card-content blue-grey-text text-lighten-1">
            <span class="card-title center blue-grey-text text-lighten-1">Hallitse koodeja</span>
            <div class="card-content">
              <input type="text" id="search" onkeyup="searchFunction()" placeholder="Etsi koodia.." style="box-sizing:border-box" autofocus>
            </div>
          </div>

          <div class="tokens-table-wrapper card-content text-lighten-1">
            <table class="highlight bordered" id="search-table">
              <thead>
                <tr>
                  <th>Koodi</th>
                  <th>#</th>
                  <th>Aktivoitu</th>
                  <th>Mitätöity</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for usertoken in tokens %}
                  <tr>
                    <td>{{ usertoken.token }}</td>
                    <td>{{ usertoken.pk }}</td>
                    <td>{{ usertoken.activated }}</td>
                    <td>{{ usertoken.invalidated }}</td>
                    <td>
                      {% if not usertoken.activated %}
                        <button id="activate-token-button-{{ forloop.counter }}" class="btn waves-effect waves-light darken-1 white-text green candidate bold-font" onclick="activateOrInvalidateToken(true, '{{ usertoken.token }}',{{ forloop.counter }})" data-clicked="0">
                            Aktivoi
                        </button>
                      {% else %}
                        <button class="btn waves-effect waves-light darken-1 white-text grey candidate bold-font" disabled=True>Aktivoitu</button>
                      {% endif %}
                    </td>
                    <td>
                      {% if not usertoken.invalidated %}
                        <button id="invalidate-token-button-{{ forloop.counter }}" class="btn waves-effect waves-light darken-1 white-text red candidate bold-font" onclick="activateOrInvalidateToken(false, '{{ usertoken.token }}',{{ forloop.counter }})" data-clicked="0">Mitätöi</button>
                      {% else %}
                        <button class="btn waves-effect waves-light darken-1 white-text grey candidate bold-font" disabled=True>Mitätöity</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
  </div>

  <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function () {
      document.getElementById("search").value = ''
      document.getElementById("search").focus()
    })
  </script>
{% endblock %}
