{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="bg">
		<div class="navbar-fixed" id="top">
      <nav>
        <div class="nav-wrapper prodeko-blue">
          <div id="logo" class="center brand-logo"><img id="vaalikoppi-logo" src="{% static 'css/Vaalikoppi.png' %}" /></div>
          <div class="fixed-action-btn toolbar" id="deactivate-btn">
            <a class="transparent right">
              <i class="large material-icons">fingerprint</i>
            </a>
          </div>
        </div>
      </nav>
    </div>

	<div class="container main-container">

		<div id="voting-list-updater" class="card blue-grey lighten-5">
	         <div class="card-action center">
				<button class="btn waves-effect waves-light darken-1 white-text candidate bold-font" onclick="refreshVotingList(true)">Päivitä luettelo</button>
			</div>
	    </div>

		{% include 'main-login-prompt.html' %}

		<div id="voting-list-area">
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

	refreshVotingList(true);
});
</script>

{% endblock %}
