{% csrf_token %}
<div class="card blue-grey lighten-5">
    <div class="card-content grey-text">
    <span class="card-title blue-grey-text text-darken-1 bold-font">Luo uusi äänestys</span>
    <input type="checkbox" id="is_transfer_election" value="is_transfer_election">
    <label for="is_transfer_election">Siirtovaaliäänitapa</label>
    <div class="input-field col s3">
        <input id="voting_name" name="voting_name" type="text" class="validate" required>
        <label for="voting_name">Äänestyksen nimi</label>
    </div>
    <div class="input-field col s3">
        <input id="voting_description" name="voting_description" type="text">
        <label for="voting_description">Kuvaus</label>
    </div>
    <div class="input-field col s6">
        <input id="max_votes" type="number" name="max_votes" class="validate">
        <label for="max_votes">Äänet</label>
    </div>
    <button class="btn waves-effect waves-light wide-button" onclick="create_voting()" name="action">Luo
        <i class="material-icons right">send</i>
    </button>
    </div>
</div>



<!-- Avattu äänestys -->
{% if open_votings %}
    {% for voting in open_votings %}
    <div class="card blue-grey lighten-5">
        <div class="card-content grey-text center">
        <span class="card-title blue-grey-text text-darken-1 bold-font">Auki: {{ voting.voting_name }}, Äänestänyt: {{ voting.total_votes }}/{{ active_tokens_count }}</span>
        {% if voting.voting_description %}<p>{{ voting.voting_description }}</p>{% endif %}
        {% csrf_token %}
        </div>
        <div class="card-action center">
            {% if voting.candidates.all %}
            <div id="voting-form-{{ voting.id }}">
                <ul>
                {% for candidate in voting.candidates.all %}
                    <li>{{ candidate.candidate_name }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <button onclick="closeVoting({{ voting.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})" class="btn waves-effect waves-light red darken-1 white-text wide-button bold-font">Sulje äänestys</button>
        </div>
    </div>
    {% endfor %}
{% endif %}

<!-- Avaamaton äänestys -->
{% if closed_votings %}
    {% for voting in closed_votings %}
    <div class="card grey lighten-3">
        <div class="card-content blue-grey-text text-lighten-1 center">
            <span class="card-title blue-grey-text text-lighten-1">
                Avaamaton: {{ voting }}
            </span>
            {% if voting.voting_description %}
            <p>{{ voting.voting_description }}</p>
            {% endif %}
        </div>
        <div class="card-action">
            {% if voting.candidates.all %}
            {% for candidate in voting.candidates.all %}
            <a 
                class="blue-grey lighten-1 btn-large wide-button" 
                onclick="remove_candidate({{ candidate.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})"
            >
                {{ candidate.candidate_name }}
                <i class="material-icons right">close</i>
            </a>
            {% endfor %}
            {% endif %}
            <div class="input-field col">
                <input id="voting-{{ voting.id }}-candidate_name" name="candidate_name" type="text" required>
                <label for="candidate_name">Ehdokkaan nimi</label>
            </div>
            <button onclick="add_candidate({{ voting.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})" class="btn waves-effect waves-light wide-button">
                Lisää<i class="material-icons right">add</i>
            </button>
            <button onclick="openVoting({{ voting.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})" class="btn waves-effect waves-light red darken-1 white-text wide-button bold-font">Avaa äänestys</button>
        </div>
    </div>
    {% endfor %}
{% endif %}

    
<!-- Päättynyt äänestys -->
{% if ended_votings %}
{% for voting in ended_votings %}
{% if voting.is_transferable %}
<div class="transfer-election card prodeko-blue white-text center" onclick="expandResults(this)">
    <div class="card-title-container">
        <h3 class="card-title bold-font">{{ voting }}</h3>
        {% if voting.results|length > 1 %}
        <i class="expand-results material-icons">chevron_right</i>
        {% endif %}
    </div>
    <div class="results">
        {% for result in voting.results %}
        <div class="result">
            <div class="voting-round">
                <span class="round-number">{{ result.round }}.</span>
                kierros
            </div>
            <table class="result-table">
                {% for candidate in result.candidates %}
                <tr class="candidate {% if candidate.elected %} elected {% elif candidate.dropped %} dropped {% endif %}">
                    <td class="candidate-name">
                        {{ candidate.name }}
                        {% if candidate.dropped %}
                            (pudonnut)
                        {% elif candidate.elected %}
                            (valittu)
                        {% endif %}
                    </td>
                    <td>{{ candidate.vote_count }}</td>
                    <td>{{ candidate.vote_share }}&nbsp;%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card prodeko-blue white-text center">
    <div class="card-title-container">
        <h3 class="card-title bold-font">{{ voting }}</h3>
    </div>
    <div class="results">
        <table class="result-table">
            {% for candidate in voting.results %}
            <tr class="candidate {% if candidate.elected %} elected {% elif candidate.dropped %} dropped {% endif %}">
                <td class="candidate-name">
                    {{ candidate.candidate_name }}
                    {% if candidate.dropped %}
                        (pudonnut)
                    {% elif candidate.elected %}
                        (valittu)
                    {% endif %}
                </td>
                <td>{{ candidate.vote_count }}</td>
                <td>{{ candidate.vote_share }}&nbsp;%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="empty-votes">
        Tyhjiä: {{ voting.empty_votes }}
    </div>
</div>

{% endif %}
{% endfor %}
{% endif %}
