{% csrf_token %}
<div class="card blue-grey lighten-5">
    <div class="card-content grey-text">
    <span class="card-title blue-grey-text text-darken-1 bold-font">Luo uusi äänestys</span>
    <input type="checkbox" id="is_transfer_election" value="is_transfer_election">
    <label for="is_transfer_election">Siirtovaaliäänitapa</label>
    <div class="input-field col s3">
        <input id="voting_name" name="voting_name" type="text" class="validate" required>
        <label for="voting_name">Äänestyksen nimi</label>
    </div>
    <div class="input-field col s3">
        <input id="voting_description" name="voting_description" type="text">
        <label for="voting_description">Kuvaus</label>
    </div>
    <div class="input-field col s6">
        <input id="max_votes" type="number" name="max_votes" class="validate">
        <label for="max_votes">Äänet</label>
    </div>
    <button class="btn waves-effect waves-light wide-button" onclick="create_voting()" name="action">Luo
        <i class="material-icons right">send</i>
    </button>
    </div>
</div>



<!-- Avattu äänestys -->
{% if open_votings %}
    {% for voting in open_votings %}
    <div class="card blue-grey lighten-5">
        <div class="card-content grey-text center">
        <span class="card-title blue-grey-text text-darken-1 bold-font">Auki: {{ voting.voting_name }}, Äänestänyt: {{ voting.total_votes }}/{{ active_tokens_count }}</span>
        {% if voting.voting_description %}<p>{{ voting.voting_description }}</p>{% endif %}
        {% csrf_token %}
        </div>
        <div class="card-action center">
            {% if voting.candidates.all %}
            <div id="voting-form-{{ voting.id }}">
                <ul>
                {% for candidate in voting.candidates.all %}
                    <li>{{ candidate.candidate_name }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <button onclick="closeVoting({{ voting.id }})" class="btn waves-effect waves-light red darken-1 white-text wide-button bold-font">Sulje äänestys</button>
        </div>
    </div>
    {% endfor %}
{% endif %}

<!-- Avaamaton äänestys -->
{% if closed_votings %}
    {% for voting in closed_votings %}
    <div class="card grey lighten-3">
        <div class="card-content blue-grey-text text-lighten-1 center">
            <span class="card-title blue-grey-text text-lighten-1">
                Avaamaton: {{ voting }}
            </span>
            {% if voting.voting_description %}
            <p>{{ voting.voting_description }}</p>
            {% endif %}
        </div>
        <div class="card-action">
            {% if voting.candidates.all %}
            {% for candidate in voting.candidates.all %}
            <a 
                class="blue-grey lighten-1 btn-large wide-button" 
                onclick="remove_candidate({{ candidate.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})"
            >
                {{ candidate.candidate_name }}
                <i class="material-icons right">close</i>
            </a>
            {% endfor %}
            {% endif %}
            <div class="input-field col">
                <input id="voting-{{ voting.id }}-candidate_name" name="candidate_name" type="text" required>
                <label for="candidate_name">Ehdokkaan nimi</label>
            </div>
            <button onclick="add_candidate({{ voting.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})" class="btn waves-effect waves-light wide-button">
                Lisää<i class="material-icons right">add</i>
            </button>
            <button onclick="openVoting({{ voting.id }}, {% if voting.is_transferable %}true{% else %}false{% endif %})" class="btn waves-effect waves-light red darken-1 white-text wide-button bold-font">Avaa äänestys</button>
        </div>
    </div>
    {% endfor %}
{% endif %}

    
<!-- Päättynyt äänestys -->
{% if ended_votings %}
    {% for voting in ended_votings %}
    <div class="card prodeko-blue white-text center">
        <div class="card-content">
            <span class="card-title bold-font">{{ voting.voting_name }},  äänestäneitä: {{ voting.total_votes }}</span>
            <hr>
            <table style="max-width:400px; margin: 0px auto;">
                {% for result in voting.results %}
                <tr>
                    <td class="bold-font" style="width:60%">{{ result.candidate_name }}</td>
                    <td style="width:20%">{{ result.vote_count }}</td>
                    <td style="width:20%">{{ result.vote_share }}&nbsp;%</td>
                </tr>
                {% endfor %}
            </table>
            <hr>
            Tyhjiä: {{ voting.empty_votes }}<br>
        </div>
    </div>
    {% endfor %}
{% endif %}		
