{% load static %}
<!DOCTYPE html>
<html lang="fi">
	<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/materialize.css' %}" rel="stylesheet">
      <link href="{% static 'css/custom.css' %}{% if nocache_rand %}?rand={{ nocache_rand }}{% endif %}" rel="stylesheet">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
			<title>{% block title %}Prodeko Vaalikoppi{% endblock %}</title>
			{% block local_styles %}

			{% endblock %}

		<script type="text/javascript" src="{% static 'js/custom.js' %}{% if nocache_rand %}?rand={{ nocache_rand }}{% endif %}"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	</head>
  <body>

	{% if user.is_superuser %}
	<nav>
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{% url 'vaalikoppi:index' %}">Etusivu</a></li>
		  	<li><a href="{% url 'admin:index' %}" target="_blank">Django Admin</a></li>
				<li><a href="{% url 'vaalikoppi:admin_votings' %}">Äänestykset</a></li>
				<li><a href="{% url 'vaalikoppi:admin_voting_results' %}">Tulokset</a></li>
		  	<li><a href="{% url 'vaalikoppi:admin_tokens' %}">Koodit</a></li>
			</ul>
		</div>
	</nav>
	{% endif %}

	{% block body %}
	{% endblock %}

  </body>
</html>
