{% extends 'base.html' %}
{% load staticfiles %}

	{% block body %}
  <div class="bg">
		<div class="navbar-fixed" id="top">
      <nav>
        <div class="nav-wrapper prodeko-blue">
          <div id="logo" class="center brand-logo"><img id="vaalikoppi-logo" src="static/css/Vaalikoppi.png" /></div>
          <div class="fixed-action-btn toolbar" id="deactivate-btn">
            <a class="transparent right">
              <i class="large material-icons">close</i>
            </a>
            <ul>
              <li class="waves-effect waves-light red" id="deactivate"><a href="#!">DEAKTIVOI TUNNUS</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">

      <!-- Avattu äänestys -->
      <div class="main-container">
        {% if open_votings %}
					{% for voting in open_votings %}
	        <div class="card blue-grey lighten-5">
	          <div class="card-content grey-text center">
	            <span class="card-title blue-grey-text text-darken-1 bold-font">{{ voting.voting_name }}</span>
	            {% if voting.voting_description %}<p>{{ voting.voting_description }}</p>{% endif %}
	          </div>
	          <div class="card-action">
							{% if voting.candidate_set.all %}
							<form action="{% url 'vaalikoppi:vote' voting.id %}" method="post">
								{% csrf_token %}
		            {% for candidate in voting.candidate_set.all %}
		            <input type="radio" name="candidate" style="visibility:visible" id="candidate{{ candidate.id }}" value="{{ candidate.id }}"/>
								<label for="candidate{{ candidate.id }}" class="waves-effect waves-red blue-grey darken-2 btn-large candidate hoverable">{{ candidate.candidate_name }}</label><br>
								{% endfor %}
								<input type="submit" value="Vote" class="btn waves-effect waves-light red darken-1 white-text candidate bold-font">Äänestä</button>
							</form>
							{% endif %}
						</div>
	        </div>
					{% endfor %}
				{% endif %}

      <!-- Avaamaton äänestys -->
        {% if closed_votings %}
					{% for voting in closed_votings %}
	        <div class="card grey lighten-3">
	          <div class="card-content blue-grey-text text-lighten-1 center">
	            <span class="card-title blue-grey-text text-lighten-1">{{ voting.voting_name }}</span>
	            {% if voting.voting_description %}<p>{{ voting.voting_description }}</p>{% endif %}
	          </div>
	          <div class="card-action">
							{% if voting.candidates %}
								{% for candidate in voting.candidates %}
		            <a class="disabled blue-grey lighten-1 btn-large candidate">{{ candidate.candidate_name }}</a>
								{% endfor %}
							{% endif %}
	          </div>
	        </div>
					{% endfor %}
				{% endif %}


        <!-- Päättynyt äänestys -->
				{% if ended_votings %}
					{% for voting in ended_votings %}
	        <div class="card prodeko-blue white-text center">
	          <div class="card-content">
	            <p>{{ voting.voting_name }}</p>
	            <span class="card-title bold-font">{{ voting.result }}</span>
	          </div>
	        </div>
					{% endfor %}
				{% endif %}

      </div>
    </div>
	</div>


    <!-- {% if not user.is_authenticated %} -->

		<!-- {% endif %} -->

		<!-- {% if user.is_authenticated %} -->

		<!-- {% endif %} -->

{% endblock %}
