<div id="login-container">
  <div class="card blue-grey lighten-5">
    <div class="card-content blue-grey-text text-lighten-1 center">
      <span class="card-title blue-grey-text text-lighten-1">Kirjaudu syöttämällä kirjautumiskoodi ja alias</span>
	  
	  <div class="row">
	  
	  </div>
	  
	  <div class="row">
		  <div class="input-field col s12">
			<input type="text" id="type-token-field" class="token-input-field" size="50" >
			<label for="type-token-field">Kirjautumiskoodi</label>
		  </div>
	  </div>
	  <div class="row">
		  <div class="input-field col s12">
			<input type="text" id="type-alias-field" class="alias-input-field" size="50">
			<label for="type-alias-field">Alias (3&ndash;20 merkkiä)</label>
		  </div>
	  </div>
	  
	  <div class="row">
	  <div class="col s12">
		<span id="login-notification-area">&nbsp;</span>
		</div>
	</div>
    </div>
    {% csrf_token %}
    <div class="card-action center">
      <button id="invalidate-token-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font" onclick="submitToken()">Kirjaudu</button>
    </div>
  </div>
</div>