<div id="main-login-prompt">
    <div class="card blue-grey lighten-5">
        <div class="card-content blue-grey-text text-lighten-1 center">
            <span class="card-title blue-grey-text text-lighten-1">Syötä koodi kirjautuaksesi sisään</span>
            <input type="text" id="type-token-field" class="token-input-field" size="50">
            <span id="login-notification-area">&nbsp;</span>
        </div>
        <div class="card-action center">
            <button id="invalidate-token-button" class="btn waves-effect waves-light darken-1 white-text candidate bold-font" onclick="submitToken()">Kirjaudu</button>
        </div>
    </div>
</div>