<!doctype html>
<html>
    <head>
        <style type="text/css"> 
            p {
                font-size: 14pt;
            }

            table { 
                width: 100%;
            }

            table, td {
                border: 2px solid black;
            }

            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <table>
            {% for token in tokens %}
                {% if not forloop.counter|divisibleby:2 %}
                    <tr>
                        <td>
                            <p>{{ token }}</p>
                        </td>
                {% else %}
                        <td>
                            <p>{{ token }}</p>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>