{% if !open_votings.is_empty() %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel blue-grey lighten-4 blue-grey-text text-darken-3 small">
        <span class="">Avoimia äänestyksiä {{ open_votings.len() }} kpl.</span>
      </div>
    </div>
  </div>
  {% for voting in open_votings %}
    <div class="row">
      <div class="col s12">
        <div class="card blue-grey lighten-5">
          <div class="card-content blue-grey-text text-darken-1 center">
            <div class="row">
              <div class="col s12">
                <span class="card-title bold-font">Auki: {{ voting.name }}, Äänestänyt: {{ voting.total_votes }}/{{ voting.eligible_token_count }}</span>
                {# <!--<p>Salasana vaaditaan:
                  <span class="bold-font">{% if voting.is_password_protected %}Kyllä{% else %}Ei{% endif %}</span>.&nbsp;
                  {% if voting.is_password_protected %}Salasana:
                    <span class="bold-font">{{ voting.voting_password }}</span>
                  {% endif %}
                </p>--> #}
                {% if voting.description.len() > 0 %}
                  <div class="section grey-text">
                    <p>{{ voting.description }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
            {% if voting.candidates.len() > 0 %}
              <div class="divider"></div>
              <div id="voting-form-{{ voting.id }}" class="row">
                <ul class="col s12">
                  {% for candidate in voting.candidates %}
                    <li>{{ candidate }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <div class="divider"></div>
            <div class="row votes-left-row">
              <div class="col s12 votes-left-col">
                <h6 class="votes-left-expander" onclick="toggleNotVotedList('votes-left-table-{{ voting.id }}')">Koodit, jotka eivät ole vielä äänestäneet</h6>
                <table id="votes-left-table-{{ voting.id }}" class="votes-left-table hide">
                  <thead>
                    <tr>
                      <td>Koodi</td>
                      <td>Alias</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for token in voting.tokens_not_voted %}
                      <tr>
                        <td>{{ token.token }}</td>
                        <td>{{ token.alias }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-action center">
            <button onclick="closeVoting({{ voting.id }}, true)" class="btn waves-effect waves-light red darken-1 white-text wide-button bold-font">Sulje äänestys</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel blue-grey lighten-4 blue-grey-text text-darken-3 small">
        <span class="">Ei avoimia äänestyksiä.</span>
      </div>
    </div>
  </div>
{% endif %}

{% include "components/voting-list-draft-and-closed.html" %}