{% match login_state %}
  {% when LoginState::Admin %}
  <nav id="admin-nav" class="navbar-fixed nav-extended red-darken-1">
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          <a href="/">Äänestykset</a>
        </li>
<!--        <li>-->
<!--          <a href="/" target="_blank">Django Admin</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/votings">Äänestykset</a>-->
<!--        </li>-->
        <li>
          <a href="/results">Tulokset</a>
        </li>
        <li>
          <a href="/tokens">Koodit</a>
        </li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <div id="logo" class="center brand-logo">
          <img id="vaalikoppi-logo" src="/static/images/vaalikoppi.png" />
        </div>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav id="normal-nav">
    <div id="logo" class="center brand-logo">
      <img id="vaalikoppi-logo" src="/static/images/vaalikoppi.png" />
    </div>
    <div class="fixed-action-btn toolbar" id="deactivate-btn">
      <a class="transparent right">
        <i class="large material-icons" onclick="logout()">fingerprint</i>
      </a>
    </div>
  </nav>
{% endmatch %}


