#login-container {

  .loading-token-notification {
    color: #26a69a;
  }

  .wrong-token-warning {
    color: red;
  }

  .login-instructions h6 {
    font-weight: bold;
  }
  
  .login-instructions p {
    margin-bottom: 1em;
  }
}
